<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="base" style="text-align:center;vertical-align: middle;background-color:#CCCCCC;">
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="名前を入力してください", style="margin-top:400px;padding:20px;font-size:50px;">
            <input type="submit" value="ログイン", style="margin-top:400px;padding:10px;font-size:50px;background-color:#EEEEEE;">
        </form>
    </div>
</body>
</html>